/*MAIN STYLES*/
/*GENERAL*/
body {
  font-family: 'Open Sans', sans-serif;
}
p {
  font-size: 15px;
}
h2 {
  margin: 0 0 50px;
  font-size: 24px;
  color: #1c3c55;
  font-weight: 600;
}
/*ESTRUCTURE*/
#wrapper {
  padding: 0;
}
/*HEADER*/
header {
  background: transparent !important;
  border: none !important;
}
header .cont-header h1 {
  margin: 12px 0 10px;
  padding: 0;
}
header .cont-header a.reservar {
  display: block;
  text-align: center;
  margin: 12px 0 0;
  padding: 12px 20px;
  font-size: 13px;
  font-weight: 600;
  border: 2px solid #1c3c55;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  text-transform: uppercase;
  color: #1c3c55;
}
header .cont-header a.reservar:hover {
  text-decoration: none;
  background: #3697b7;
  color: #ffffff;
  border: 2px solid #3697b7;
}
header #main-nav {
  background: #435e73;
  color: #ffffff;
  font-size: 12px;
}
header #main-nav ul {
  margin: 0;
  padding: 0;
}
header #main-nav ul li {
  display: block;
  float: left;
}
header #main-nav ul li a {
  display: block;
  padding: 20px 50px;
  color: #ffffff;
}
/*CONTENT*/
#section01 {
  background: url(../imag/back/bg-section.png) repeat left top;
  min-height: 800px;
  text-align: center;
}
#section01 .cont-clinica {
  margin: 0 auto;
  padding: 200px 0 0;
  min-height: 850px;
  float: none;
}
#section01 .cont-clinica h2 {
  margin: 0 auto 50px;
  padding: 0;
  float: none;
}
#section01 .cont-clinica p {
  margin: 0 30px 20px;
  color: #1c3c55;
}
#section02 {
  min-height: 800px;
  text-align: center;
}
#section02 .cont-profesionales {
  text-align: left;
}
#section02 p {
  color: #333333;
}
#section03 {
  min-height: 800px;
}
#section04 {
  min-height: 800px;
  text-align: center;
}
#section04 h2 {
  color: #ffffff;
}
#section05 {
  min-height: 800px;
}
#section06 {
  min-height: 800px;
}
/*HOME*/
/*FOOTER*/
footer {
  color: #ffffff;
  background: #1c3c55;
}
footer h3 {
  font-size: 18px;
  font-weight: 600;
}
footer .last-foot {
  padding: 20px 0;
  background: #0a1a27;
}
footer .last-foot p {
  margin: 0;
  font-size: 15px;
  color: #ffffff;
  font-weight: 600;
}
footer .last-foot ul {
  margin: 0;
  padding: 0;
}
footer .last-foot ul li {
  display: block;
  padding: 0 12px;
  border-right: 1px solid #ffffff;
  float: right;
}
footer .last-foot ul li:first-child {
  border: none;
  padding-right: 0px;
}
footer .last-foot ul li:last-child {
  padding-left: 0;
}
footer .last-foot ul li a {
  color: #ffffff;
  font-size: 13px;
  font-weight: 600;
}
/*END*/
