/*MAIN STYLES*/
/*GENERAL*/
body {
  font-family: 'Open Sans', sans-serif;
}
p {
  font-size: 15px;
}
h2 {
  margin: 0 0 50px;
  font-size: 24px;
  color: #1c3b55;
  font-weight: 600;
  letter-spacing: -1px;
}
a:hover {
  text-decoration: none;
}
/*ESTRUCTURE*/
#wrapper {
  padding: 0;
}
/*HEADER*/
header {
  background: url(../imag/back/bg-header.png) repeat-x left top transparent !important;
  border: none !important;
}
header .container {
  position: relative;
}
header .cont-reservar {
  position: absolute;
  top: 15px;
  right: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}
header .cont-reservar a {
  display: block;
  padding: 10px 25px;
  letter-spacing: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #227899;
  border: 2px solid #227899;
  text-transform: uppercase;
}
header .cont-reservar a:hover {
  background: #227899;
  color: #ffffff;
  text-decoration: none;
}
header #nav-main {
  margin: 80px 0 0;
}
header #nav-main ul {
  margin: 0;
  padding: 0;
}
header #nav-main ul li {
  display: inline-block;
  list-style-type: none;
}
header #nav-main ul li a {
  display: block;
  padding: 0 10px;
  color: #1c3b55;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}
header #nav-main ul li a:hover {
  color: #227899;
}
/*CONTENT*/
/*Home Inicio*/
#section-clinica {
  margin: 0 auto;
  padding: 0;
  background: url(../imag/back/bg-inicio.jpg) 50% 0 no-repeat fixed;
  min-height: 780px;
  text-align: center;
}
#section-clinica h2 {
  margin: 200px auto 50px;
  padding: 0;
  float: none;
}
#section-clinica p {
  margin: 0 30px 20px;
  color: #1c3b55;
  font-weight: 600;
}
#section-clinica .show-video {
  margin: 300px auto 0;
  text-align: center;
}
#section-clinica .show-video a {
  color: #227899;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#section-clinica .show-video a.icon {
  display: block;
  margin: 0 auto 25px;
  width: 114px;
  height: 144px;
}
#section-clinica .show-video a:hover {
  color: #1c3b55;
}
#section-clinica .show-video img {
  margin: 0 auto;
}
/*Home - Profesionales*/
#section-profesionales {
  min-height: 800px;
  text-align: center;
  background: url(../imag/back/bg-prof.jpg) 50% 0 no-repeat fixed;
  border-bottom: 1px solid #979797;
}
#section-profesionales .cont-profesionales {
  padding: 100px 0 0;
  text-align: left;
}
#section-profesionales h2 {
  font-size: 33px;
  line-height: 130%;
  color: #1c3b55;
}
#section-profesionales p {
  font-size: 18px;
  color: #333333;
}
#section-profesionales .cont-button {
  display: inline-block;
}
#section-profesionales .cont-button a {
  display: block;
  margin: 40px 0 0;
  padding: 10px 30px;
  background: #1c3b55;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
#section-profesionales .cont-button a:hover {
  background-color: #227899;
}
/*Home Especialidades*/
#section-especialidades {
  padding: 100px 0;
  background: #ffffff;
  border-bottom: 1px solid #979797;
}
#section-especialidades .cont-especialidades {
  padding: 0;
  text-align: center;
}
#section-especialidades .cont-especialidades h2 {
  margin: 0 0 40px;
  font-size: 33px;
}
#section-especialidades .cont-especialidades p {
  margin: 0 100px;
  color: #1c3b55;
  font-size: 18px;
}
#section-especialidades .cont-especialidades .row {
  padding: 50px 0 0;
}
#section-especialidades .cont-especialidades .item {
  position: relative;
  margin: 0 0 20px;
  padding: 0px;
  height: 255px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: 3px solid #b3b3b3;
  overflow: hidden;
}
#section-especialidades .cont-especialidades .item h4 {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  margin: 0px;
  padding: 25px 0;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}
#section-especialidades .cont-especialidades .item h4 a {
  color: #ffffff;
}
#section-especialidades .cont-especialidades .item h4:hover {
  background: #1c3b55;
}
#section-especialidades .cont-especialidades .item img {
  margin: 0 0 20px;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #979797;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
#section-especialidades .cont-especialidades .item .cont-text {
  display: block;
  height: 120px;
  padding: 0 20px;
  text-align: left;
}
#section-especialidades .cont-especialidades .item .cont-text p {
  font-size: 13px;
  color: #333333;
}
#section-especialidades .cont-especialidades .row div:first-child .item h4 {
  background: #227899;
}
#section-especialidades .cont-especialidades .row div:nth-child(2) .item h4 {
  background: #a46bcd;
}
#section-especialidades .cont-especialidades .row div:nth-child(3) .item h4 {
  background: #e17664;
}
#section-especialidades .cont-especialidades .row div:nth-child(4) .item h4 {
  background: #f69617;
}
#section-especialidades .cont-especialidades .cont-button {
  width: 100%;
  margin: 70px 0 40px;
}
#section-especialidades .cont-especialidades a.ver {
  padding: 10px 30px;
  background: #1c3b55;
  color: #ffffff;
  font-weight: 600;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-transform: uppercase;
}
#section-especialidades .cont-especialidades a.ver:hover {
  background: #3697b7;
  text-decoration: none;
}
#section-especialidades p {
  color: #1c3b55;
}
/*Home Reservas*/
#section-reserva {
  min-height: 820px;
  text-align: center;
  background: url(../imag/back/bg-reserva.jpg) 50% 0 no-repeat fixed;
}
#section-reserva h2 {
  color: #ffffff;
}
#section-reserva p,
#section-reserva a {
  color: #ffffff;
}
#section-reserva .cont-horas {
  padding: 220px 0 0;
}
#section-reserva .rec-reserva {
  margin: 35px auto 55px;
  padding: 45px 35px 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background: url(../imag/back/bg-rec.png) repeat left top;
  border: #979797;
  float: none;
  color: #1c3b55;
  -webkit-box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.7);
  -moz-box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.7);
  box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.7);
}
#section-reserva .rec-reserva .separa-form {
  margin: 0 0 25px;
  text-align: left;
}
#section-reserva .rec-reserva label {
  display: block;
  text-align: left;
  line-height: 40px;
}
#section-reserva .rec-reserva select {
  width: 100%;
  padding: 10px 30px;
  border: 2px solid #1c3b55;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: url(../imag/back/bg-select.png) repeat left bottom #ffffff;
}
#section-reserva .rec-reserva button {
  padding: 10px 30px;
  background: #1c3b55;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  float: right;
}
#section-reserva .rec-reserva button:hover {
  background: #3697b7;
  text-decoration: none;
}
#section05 {
  min-height: 800px;
  background: #dbe3e5;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.7);
  -moz-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.7);
  box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.7);
}
#section05 .cont-noticias {
  padding: 200px 0 70px;
}
#section05 .item-noticias {
  margin: 0 0 25px;
  background: #ffffff;
  height: 140px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
#section06 {
  min-height: 800px;
}
#section06 .cont-fundacion {
  padding: 200px 0 70px;
}
#section06 h2 {
  color: #e17664;
}
#section06 .cont-button {
  margin: 30px 0 0;
}
#section06 a.conoce {
  padding: 10px 30px;
  background: #e17664;
  color: #ffffff;
  font-weight: 600;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-transform: uppercase;
}
#section06 a.conoce:hover {
  background: #3697b7;
  text-decoration: none;
}
/*FOOTER*/
footer {
  padding: 40px 0 0;
  color: #ffffff;
  background: #1c3b55;
}
footer h3 {
  margin: 0 0 15px;
  font-size: 18px;
  font-weight: 600;
}
footer .cont-footer p {
  font-size: 14px;
}
footer .last-foot {
  margin: 50px 0 0;
  padding: 20px 0;
  background: #0a1a27;
}
footer .last-foot p {
  margin: 0;
  font-size: 14px;
  color: #ffffff;
  font-weight: 600;
}
footer .last-foot ul {
  margin: 0;
  padding: 0;
}
footer .last-foot ul li {
  display: block;
  padding: 0 12px;
  border-right: 1px solid #ffffff;
  float: right;
}
footer .last-foot ul li:first-child {
  border: none;
  padding-right: 0px;
}
footer .last-foot ul li:last-child {
  padding-left: 0;
}
footer .last-foot ul li a {
  color: #ffffff;
  font-size: 13px;
  font-weight: 600;
}
/*END*/
