/*MAIN STYLES*/
/*GENERAL*/
body {
  font-family: 'Open Sans', sans-serif;
}
p {
  font-size: 15px;
}
h2 {
  margin: 0 0 50px;
  font-size: 33px;
  color: #1c3b55;
  font-weight: 600;
  letter-spacing: -1px;
}
a:hover {
  text-decoration: none;
}
.center {
  width: 100%;
  text-align: center;
}
/*ESTRUCTURE*/
#wrapper {
  padding: 0;
}
/*HEADER*/
header {
  background: url(../imag/back/bg-header.png) repeat-x left top transparent !important;
  border: none !important;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.5);
}
header h1 {
  margin-top: 15px;
}
header .container {
  position: relative;
}
header .cont-reservar {
  position: absolute;
  top: 15px;
  right: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}
header .cont-reservar a {
  display: block;
  padding: 10px 25px;
  letter-spacing: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #227899;
  border: 2px solid #227899;
  text-transform: uppercase;
}
header .cont-reservar a:hover {
  background: #227899;
  color: #ffffff;
  text-decoration: none;
}
header #nav-main {
  margin: 75px 0 0;
}
header #nav-main ul {
  margin: 0;
  padding: 0;
}
header #nav-main ul li {
  display: inline-block;
  list-style-type: none;
}
header #nav-main ul li a {
  display: block;
  padding: 0 10px;
  color: #1c3b55;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}
header #nav-main ul li a:hover {
  color: #227899;
}
/*CONTENT*/
/*Home Inicio*/
#section-clinica {
  margin: 0 auto;
  padding: 0;
  background: url(../imag/back/bg-inicio.jpg) 50% 0 no-repeat fixed;
  min-height: 780px;
  text-align: center;
}
#section-clinica h2 {
  margin: 200px auto 50px;
  padding: 0;
  float: none;
}
#section-clinica p {
  margin: 0 30px 20px;
  color: #1c3b55;
  font-weight: 600;
}
#section-clinica .show-video {
  margin: 300px auto 0;
  text-align: center;
}
#section-clinica .show-video a {
  color: #227899;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#section-clinica .show-video a.icon {
  display: block;
  margin: 0 auto 25px;
  width: 144px;
  height: 144px;
}
#section-clinica .show-video a:hover {
  color: #1c3b55;
}
#section-clinica .show-video img {
  margin: 0 auto;
}
/*Home - Profesionales*/
#section-profesionales {
  min-height: 800px;
  text-align: center;
  background: url(../imag/back/bg-prof.jpg) 50% 0 no-repeat fixed;
  border-bottom: 1px solid #979797;
}
#section-profesionales .cont-profesionales {
  padding: 100px 0 0;
  text-align: left;
}
#section-profesionales h2 {
  font-size: 33px;
  line-height: 130%;
  color: #1c3b55;
}
#section-profesionales p {
  font-size: 18px;
  color: #333333;
}
#section-profesionales .cont-button {
  display: inline-block;
}
#section-profesionales .cont-button a {
  display: block;
  margin: 40px 0 0;
  padding: 10px 30px;
  background: #1c3b55;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
#section-profesionales .cont-button a:hover {
  background-color: #227899;
}
/*Home Especialidades*/
#section-especialidades {
  padding: 100px 0;
  background: #ffffff;
  border-bottom: 1px solid #979797;
}
#section-especialidades .cont-especialidades {
  padding: 0;
  text-align: center;
}
#section-especialidades .cont-especialidades h2 {
  margin: 0 0 40px;
  font-size: 33px;
}
#section-especialidades .cont-especialidades p {
  margin: 0 100px;
  color: #1c3b55;
  font-size: 18px;
}
#section-especialidades .cont-especialidades .row {
  padding: 50px 0 0;
}
#section-especialidades .cont-especialidades .item {
  position: relative;
  margin: 0 0 20px;
  padding: 0px;
  height: 255px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: 3px solid #b3b3b3;
  overflow: hidden;
}
#section-especialidades .cont-especialidades .item h4 {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  margin: 0px;
  padding: 25px 0;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}
#section-especialidades .cont-especialidades .item h4 a {
  color: #ffffff;
}
#section-especialidades .cont-especialidades .item h4 a:hover {
  text-decoration: underline;
}
#section-especialidades .cont-especialidades .item h4:hover {
  background: #1c3b55;
}
#section-especialidades .cont-especialidades .item img {
  margin: 0 0 20px;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #979797;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
#section-especialidades .cont-especialidades .item .cont-text {
  display: block;
  height: 120px;
  padding: 0 20px;
  text-align: left;
}
#section-especialidades .cont-especialidades .item .cont-text p {
  font-size: 13px;
  color: #333333;
}
#section-especialidades .cont-especialidades .row div:first-child .item h4 {
  background: #227899;
}
#section-especialidades .cont-especialidades .row div:nth-child(2) .item h4 {
  background: #a46bcd;
}
#section-especialidades .cont-especialidades .row div:nth-child(3) .item h4 {
  background: #e17664;
}
#section-especialidades .cont-especialidades .row div:nth-child(4) .item h4 {
  background: #f69617;
}
#section-especialidades .cont-especialidades .cont-button {
  width: 100%;
  margin: 70px 0 40px;
}
#section-especialidades .cont-especialidades a.ver {
  padding: 10px 30px;
  background: #1c3b55;
  color: #ffffff;
  font-weight: 600;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-transform: uppercase;
}
#section-especialidades .cont-especialidades a.ver:hover {
  background: #3697b7;
  text-decoration: none;
}
#section-especialidades p {
  color: #1c3b55;
}
/*Home Reservas*/
#section-reserva {
  min-height: 820px;
  text-align: right;
  background: url(../imag/back/bg-reserva.jpg) 50% 0 no-repeat fixed;
}
#section-reserva h2 {
  color: #ffffff;
  margin-bottom: 25px;
}
#section-reserva p {
  margin-left: 30px;
}
#section-reserva p,
#section-reserva a {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}
#section-reserva .cont-horas {
  padding: 100px 0 0;
}
#section-reserva .rec-reserva {
  margin: 35px auto 55px;
  padding: 45px 35px 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background: #ffffff;
  border: #979797;
  float: right;
  color: #1c3b55;
  -webkit-box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.7);
  -moz-box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.7);
  box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.7);
}
#section-reserva .rec-reserva .separa-form {
  margin: 0 0 25px;
  text-align: left;
}
#section-reserva .rec-reserva label {
  display: block;
  text-align: left;
}
#section-reserva .rec-reserva select {
  width: 100%;
  padding: 10px 30px;
  border: 2px solid #1c3b55;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: url(../imag/back/bg-select.png) repeat left bottom #ffffff;
}
#section-reserva .rec-reserva .radio {
  margin: 0;
  padding-top: 13px;
}
#section-reserva .rec-reserva .radio input {
  margin-top: 13px;
  cursor: auto;
}
#section-reserva .rec-reserva button {
  padding: 10px 30px;
  background: #1c3b55;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  float: right;
}
#section-reserva .rec-reserva button:hover {
  background: #3697b7;
  text-decoration: none;
}
/*Home Fundación*/
#section-fundacion {
  min-height: 800px;
  background: url(../imag/back/bg-fundacion.jpg) 50% 0 no-repeat fixed;
  text-align: cenetr;
}
#section-fundacion .cont-fundacion {
  padding: 140px 0 70px;
  text-align: center;
}
#section-fundacion h2 {
  color: #ffffff;
  margin: 0 0 30px;
}
#section-fundacion p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}
#section-fundacion .cont-button {
  margin: 30px 0 0;
}
#section-fundacion a.conoce {
  padding: 10px 30px;
  background: #e17664;
  color: #ffffff;
  font-weight: 600;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-transform: uppercase;
}
#section-fundacion a.conoce:hover {
  background: #3697b7;
  text-decoration: none;
}
#section-fundacion .show-video {
  margin: 80px auto 0;
  text-align: center;
}
#section-fundacion .show-video a {
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#section-fundacion .show-video a.icon {
  display: block;
  margin: 0 auto 25px;
  width: 144px;
  height: 144px;
}
#section-fundacion .show-video a:hover {
  color: #1c3b55;
}
#section-fundacion .show-video img {
  margin: 0 auto;
}
/*Home Noticias*/
#section-noticias {
  min-height: 800px;
  background: #dbe3e5;
}
#section-noticias h2 {
  text-align: center;
}
#section-noticias .cont-noticias {
  padding: 100px 0;
}
#section-noticias .item-noticias {
  margin: 0 0 25px;
  background: #ffffff;
  height: 140px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
#section-noticias .item-noticias h4 {
  padding: 30px 0 5px;
}
#section-noticias .item-noticias h4 a {
  color: #1c3b55;
  font-weight: 600;
}
#section-noticias .item-noticias h4 a:hover {
  color: #227899;
}
#section-noticias .item-noticias .excerpt {
  padding: 0 30px 0 0;
  color: #1c3b55;
  font-size: 16px;
}
#section-noticias .item-noticias img {
  float: left;
  margin: 0 30px 0 0;
  -webkit-border-radius: 5px 0px 0 5px;
  -moz-border-radius: 5px 0px 0 5px;
  -ms-border-radius: 5px 0px 0 5px;
  -o-border-radius: 5px 0px 0 5px;
  border-radius: 5px 0px 0 5px;
}
#section-noticias .ver-mas {
  text-align: right;
}
#section-noticias .ver-mas a {
  font-size: 16px;
  color: #1c3b55;
  font-weight: 600;
}
#section-noticias .ver-mas a:hover {
  color: #227899;
}
/*CONTENT - INTERIOR*/
/*Nuestra Clínica*/
#section-nuestra-clinica {
  min-height: 780px;
  background: url(../imag/back/bg-nuestra.jpg) 50% 0 no-repeat fixed;
}
#section-nuestra-clinica .container {
  padding: 150px 0 0;
}
#section-nuestra-clinica h2 {
  margin: 0 0 65px;
  font-size: 28px;
  color: #ffffff;
}
#section-nuestra-clinica p {
  margin: 0 0 30px;
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  line-height: 130%;
}
#section-acerca-de {
  padding: 80px 0;
}
#section-acerca-de h2,
#section-especialidades-detalle h2 {
  font-size: 26px;
}
#section-acerca-de p,
#section-especialidades-detalle p {
  margin: 0 0 50px;
  color: #1c3b55;
}
#section-acerca-de img,
#section-especialidades-detalle img {
  margin: 0 auto 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
#section-acerca-de .item-prof,
#section-especialidades-detalle .item-prof {
  margin: 0 20px;
  text-align: center;
}
#section-acerca-de .item-prof h4,
#section-especialidades-detalle .item-prof h4 {
  font-size: 16px;
}
#section-acerca-de .item-prof h4 a,
#section-especialidades-detalle .item-prof h4 a {
  color: #1c3b55;
  text-transform: uppercase;
  font-weight: bold;
}
#section-acerca-de .item-prof h4 a:hover,
#section-especialidades-detalle .item-prof h4 a:hover {
  color: #227899;
}
#section-especialidades-detalle {
  padding: 100px 0 150px;
  background: #dbe3e5;
  -webkit-box-shadow: 0px -1px 4px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px -1px 4px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 0px -1px 4px 0px rgba(50, 50, 50, 0.5);
}
#section-especialidades-detalle .item {
  margin: 0 0 30px;
  background: #ffffff;
  min-height: 137px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.75);
}
#section-especialidades-detalle .item h4 {
  margin: 15px 0 12px;
  color: #1c3b55;
  font-size: 16px;
  font-weight: 600;
}
#section-especialidades-detalle .item p {
  margin: 0 20px 0 0;
  color: #333333;
  font-size: 14px;
  line-height: 130%;
}
#section-especialidades-detalle .item img {
  margin: 0 20px 0 0;
  float: left;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
/*Profesionales*/
#section-profesionales-detalle {
  padding: 150px 0 100px;
  text-align: left;
}
#section-profesionales-detalle h2 {
  margin: 0 0 30px;
  font-size: 28px;
}
#section-profesionales-detalle h3 {
  font-size: 23px;
  color: #1c3b55;
  font-weight: 600;
}
#section-profesionales-detalle p {
  margin: 0 0 20px;
  color: #1c3b55;
}
#section-profesionales-detalle .int {
  position: relative;
  margin: 30px 0 20px;
  max-height: 350px;
  overflow: hidden;
  text-align: center;
}
#section-profesionales-detalle .int img {
  width: 100%;
}
#section-profesionales-detalle .int figure {
  margin: 0;
  padding: 0;
  height: 350px;
  position: relative;
  display: block;
  cursor: pointer;
  overflow: hidden;
}
#section-profesionales-detalle .int figure:hover figcaption {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  opacity: 1;
  top: 0;
}
#section-profesionales-detalle .int figcaption {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 250px;
  background: rgba(147, 77, 197, 0.7);
  color: #fff;
  -webkit-transition: all .9s ease;
  -moz-transition: all .9s ease;
  -o-transition: all .9s ease;
  -ms-transition: all .9s ease;
  transition: all .9s ease;
  -webkit-transition-delay: .5s;
  -moz-transition-delay: .5s;
  -o-transition-delay: .5s;
  -ms-transition-delay: .5s;
  transition-delay: .5s;
}
#section-profesionales-detalle .int figcaption h3 {
  font-family: 'Open sans';
  font-weight: 400;
  color: #f3b204;
  padding: 10px 20px;
  margin-bottom: 0;
  position: relative;
  righ: 100%;
  margin-top: 37px;
  font-size: 30px;
}
#section-profesionales-detalle .int figcaption p {
  font-family: 'Open sans';
  padding: 10px 20px;
  margin-bottom: 0;
  margin-top: 20px;
  position: relative;
  left: 100%;
  font-size: 13px;
}
#section-profesionales-detalle .int figure:hover h3,
#section-profesionales-detalle .int figure:hover p {
  left: 0;
}
#section-profesionales-detalle .int figcaption a {
  color: #fff;
  border: 2px solid #fff;
  padding: 4px 10px;
  text-decoration: none;
}
#section-profesionales-detalle .int figcaption a:hover {
  color: #4f5856;
  background: #fff;
}
/*Common*/
.show-video {
  margin: 35px auto 0;
  text-align: center;
}
.show-video a {
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.show-video a.icon {
  display: block;
  margin: 0 auto;
  width: 144px;
  height: 144px;
}
.show-video a:hover {
  color: #227899;
}
.show-video img {
  margin: 0 auto;
  float: none;
}
.cont-button-transparent {
  display: inline-block;
  margin: 60px auto 20px;
  float: none;
  text-align: center;
}
.cont-button-transparent a {
  display: block;
  margin: 0 auto;
  padding: 10px 35px;
  background: none !important;
  color: #1c3b55 !important;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 2px solid #1c3b55 !important;
}
.cont-button-transparent a:hover {
  background: #227899 !important;
  border: 2px solid #227899 !important;
  color: #ffffff !important;
}
.modal .close {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  top: 25px;
  right: 25px;
  background: url(../imag/auxi/close.png) no-repeat left top;
  text-indent: -999em;
  opacity: 1;
}
.modal .close:hover {
  background-position: left bottom;
}
/*FOOTER*/
footer {
  padding: 45px 0 0;
  color: #ffffff;
  background: #1c3b55;
  border-top: 1px solid #979797;
}
footer h3 {
  margin: 0 0 15px;
  font-size: 18px;
  font-weight: 600;
}
footer .cont-footer p {
  font-size: 13px;
}
footer .cont-footer #contacto {
  margin: 35px 45px 0 0;
}
footer .cont-footer .separa-form input[type="text"] {
  width: 100%;
  margin: 0 0px 30px 0;
  padding: 8px 15px;
  color: #333333;
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: url(../imag/back/bg-select.png) repeat left bottom #ffffff;
  font-style: italic;
  font-size: 13px;
}
footer .cont-footer .separa-form input[type="submit"] {
  margin: 0;
  padding: 8px 20px;
  background-color: #e17664;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: none;
  float: right;
}
footer .cont-footer .separa-form input[type="submit"]:hover {
  background: #227899;
}
footer .last-foot {
  margin: 50px 0 0;
  padding: 20px 0;
  background: #dbe3e5;
}
footer .last-foot p {
  margin: 0;
  font-size: 14px;
  color: #ffffff;
  font-weight: 600;
}
footer .last-foot ul {
  margin: 0;
  padding: 0;
}
footer .last-foot ul li {
  display: block;
  padding: 0 12px;
  border-right: 1px solid #ffffff;
  float: right;
}
footer .last-foot ul li:first-child {
  border: none;
  padding-right: 0px;
}
footer .last-foot ul li:last-child {
  padding-left: 0;
}
footer .last-foot ul li a {
  color: #ffffff;
  font-size: 13px;
  font-weight: 600;
}
/*END*/
