/*MAIN STYLES*/
/*GENERAL*/
body {
  font-family: 'Open Sans', sans-serif;
}
p {
  font-size: 15px;
}
h2 {
  margin: 0 0 50px;
  font-size: 24px;
  color: #1c3c55;
  font-weight: 600;
  letter-spacing: -1px;
}
/*ESTRUCTURE*/
#wrapper {
  padding: 0;
}
/*HEADER*/
header {
  background: transparent !important;
  border: none !important;
}
header .cont-header h1 {
  margin: 12px 0 10px;
  padding: 0;
}
header .cont-header a.reservar {
  display: block;
  text-align: center;
  margin: 12px 0 0;
  padding: 12px 20px;
  font-size: 13px;
  font-weight: 600;
  border: 2px solid #1c3c55;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  text-transform: uppercase;
  color: #1c3c55;
}
header .cont-header a.reservar:hover {
  text-decoration: none;
  background: #3697b7;
  color: #ffffff;
  border: 2px solid #3697b7;
}
header #main-nav {
  background: #435e73;
  color: #ffffff;
  font-size: 12px;
}
header #main-nav ul {
  margin: 0;
  padding: 0;
}
header #main-nav ul li {
  display: block;
  float: left;
}
header #main-nav ul li a {
  display: block;
  padding: 20px 50px;
  color: #ffffff;
}
/*CONTENT*/
#section01 {
  margin: 0 auto;
  padding: 0;
  background: url(../imag/back/bg-section.png) 50% 0 repeat fixed;
  min-height: 850px;
  text-align: center;
}
#section01 .cont-clinica {
  margin: 0 auto;
  padding: 200px 0 0;
  min-height: 739px;
  float: none;
}
#section01 .cont-clinica h2 {
  margin: 0 auto 50px;
  padding: 0;
  float: none;
}
#section01 .cont-clinica p {
  margin: 0 30px 20px;
  color: #1c3c55;
}
#section02 {
  min-height: 800px;
  text-align: center;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.7);
  -moz-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.7);
  box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.7);
}
#section02 .cont-profesionales {
  padding: 200px 0 0;
  text-align: left;
}
#section02 h2 {
  color: #1c3c55;
}
#section02 p {
  color: #333333;
}
#section03 {
  min-height: 800px;
  background: #dbe3e5;
}
#section03 .cont-especialidades {
  padding: 200px 0 0;
}
#section03 .cont-especialidades .row {
  padding: 35px 0 0;
}
#section03 .cont-especialidades .item {
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
#section03 .cont-especialidades h4 {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
}
#section03 p {
  color: #1c3c55;
}
#section04 {
  min-height: 900px;
  text-align: center;
  background: url(../imag/back/bg-reserva.png) 50% 0 no-repeat fixed;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.7);
  box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.7);
}
#section04 h2 {
  color: #ffffff;
}
#section04 p,
#section04 a {
  color: #ffffff;
}
#section04 .cont-horas {
  padding: 220px 0 0;
}
#section04 .rec-reserva {
  margin: 35px auto 55px;
  padding: 45px 35px 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background: url(../imag/back/bg-rec.png) repeat left top;
  border: #8c858d;
  float: none;
  color: #1c3c55;
  -webkit-box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.7);
  -moz-box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.7);
  box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.7);
}
#section04 .rec-reserva .separa-form {
  margin: 0 0 25px;
  text-align: left;
}
#section04 .rec-reserva label {
  display: block;
  text-align: left;
  line-height: 40px;
}
#section04 .rec-reserva select {
  width: 100%;
  padding: 10px 30px;
  border: 2px solid #1c3c55;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: url(../imag/back/bg-select.jpg) repeat left bottom #ffffff;
}
#section04 .rec-reserva button {
  padding: 10px 30px;
  background: #1c3c55;
  color: #ffffff;
  font-weight: 00;
  text-transform: uppercase;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  float: right;
}
#section04 .rec-reserva button:hover {
  background: #3697b7;
  text-decoration: none;
}
#section05 {
  min-height: 800px;
  background: #dbe3e5;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.7);
  -moz-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.7);
  box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.7);
}
#section05 .cont-noticias {
  padding: 200px 0 70px;
}
#section05 .item-noticias {
  margin: 0 0 25px;
  background: #ffffff;
  height: 140px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
#section06 {
  min-height: 800px;
}
#section06 .cont-fundacion {
  padding: 200px 0 70px;
}
#section06 h2 {
  color: #c96565;
}
#section06 .cont-button {
  margin: 30px 0 0;
}
#section06 a.conoce {
  padding: 10px 30px;
  background: #c96565;
  color: #ffffff;
  font-weight: 600;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-transform: uppercase;
}
#section06 a.conoce:hover {
  background: #3697b7;
  text-decoration: none;
}
/*HOME*/
#second {
  background: url(images/secondBG.jpg) 50% 0 no-repeat fixed;
  color: white;
  height: 1300px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
}
#second .bg {
  background: url(images/trainers.png) 50% 0 no-repeat fixed;
  height: 1300px;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  width: 900px;
  z-index: 200;
}
/*FOOTER*/
footer {
  color: #ffffff;
  background: #1c3c55;
}
footer h3 {
  font-size: 18px;
  font-weight: 600;
}
footer .last-foot {
  padding: 20px 0;
  background: #0a1a27;
}
footer .last-foot p {
  margin: 0;
  font-size: 15px;
  color: #ffffff;
  font-weight: 600;
}
footer .last-foot ul {
  margin: 0;
  padding: 0;
}
footer .last-foot ul li {
  display: block;
  padding: 0 12px;
  border-right: 1px solid #ffffff;
  float: right;
}
footer .last-foot ul li:first-child {
  border: none;
  padding-right: 0px;
}
footer .last-foot ul li:last-child {
  padding-left: 0;
}
footer .last-foot ul li a {
  color: #ffffff;
  font-size: 13px;
  font-weight: 600;
}
/*END*/
